name: AL3 Builder

on:
  workflow_dispatch:

jobs:
  builder:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
          ref: azurelinux3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - run: ls -al .
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: builder/Dockerfile.al3
